<div class="row d-flex justify-content-center align-items-center" style="margin-top: 40px;">
  <div class="col-lg-1" style="padding: 0;" *ngFor="let type of sortTypes">
    <div class="card text-center">
      <div class="card-body">
        <button class="fontColor" (click)="showComponent(type.type)" style="font-size: 40px; ">
          <i class="fa-solid fa-play"></i>
        </button>
        <p class="card-text">{{type.type}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
  <app-bubble-sort *ngIf="currentSort === 'bubble'"></app-bubble-sort>
  <app-bucketsort *ngIf="currentSort === 'bucket'"></app-bucketsort>
  <app-heapsort *ngIf="currentSort === 'heap'"></app-heapsort>
  <app-insertionsort *ngIf="currentSort === 'insert'"></app-insertionsort>
  <app-mergesort *ngIf="currentSort === 'merge'"></app-mergesort>
  <app-quicksort *ngIf="currentSort === 'quick'"></app-quicksort>
  <app-radixsort *ngIf="currentSort === 'radix'"></app-radixsort>
  <app-selectionsort *ngIf="currentSort === 'select'"></app-selectionsort>
</div>



