<div class="header">
  <button class="btn" (click)="generateNewArray()">Generate New Array</button>

  <div class="slider-container">
    <span>Change Array Size & Sorting Speed</span>
    <input
      type="range"
      class="slider"

    />
  </div>

  <nav class="nav">
    <button class="btn" (click)="sortArray('merge')">Merge Sort</button>
    <button class="btn" (click)="sortArray('quick')">Quick Sort</button>
    <button class="btn" (click)="sortArray('heap')">Heap Sort</button>
    <button class="btn" (click)="sortArray('bubble')">Bubble Sort</button>
  </nav>
</div>


<div class="row d-flex justify-content-center align-items-center">
  <div class="row">
    <h2 class="text-center fontColor" style="margin-top: 20px;">{{sortType}} Visualization</h2>
    <div id="array-container">
        <div *ngFor="let value of array; let i = index" class="bar" 
             [style.height.px]="value * 3" 
             [ngClass]="{'sorted': value === sortedValues[i], 'comparing': isComparing(i)}">
        </div>
    </div>
  </div>
</div>




