@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

#array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  height: 320px;
  width: 60%;
  margin: 0 auto;
  background-color: #f4f7fb;
  border-radius: 15px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bar {
  width: 5px;
  margin: 0 3px !important;
  background-color: #046fda;
  transition: height 0.3s ease-in-out;
}

.bar.sorted {
  background-color: #046fda;
}

.bar.comparing {
  background-color: #FF4081;
}

.row {
  --bs-gutter-x: 0 !important;
}

.fontColor {
  color: #3863a0;
}
